@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

* {
  padding: 0;
  margin: 0;
}

.App {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  color: #f1f1f1;
  background-image: url("./assets/bgImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.header {
  margin-left: 250px; /* Same as the width of the sidebar */
  padding: 20px 25px;
}

/* .title {
  width: 800px;
} */

h1 {
  font-family: 'Satisfy', cursive;
  font-size: 100px;
  text-shadow: 2px 2px 10px #0a0909;
}

nav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: rgb(37, 64, 85); /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 30px;
  padding-left: 20px;
}

:link {
  text-decoration: none;
}

.nav-links li {
  padding: 10px 15px 20px 15px;
  text-decoration: none;
  font-size: 22px;
  color: #f1f1f1;
  display: block;
  word-wrap: normal;
  text-align: left;
}

.nav-links li:hover {
  color: #d0ffc6;
}

.arrow {
  background-color: rgb(37, 64, 85);
  opacity: 0.6;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 50%;
}

.category {
  color: #f1f1f1;
}

.authorLinks{
  color: #f1f1f1;
}

.authorLinks:hover {
  color: #d0ffc6;
}

.authorNamesDiv {
  display: flex;
  margin: auto;
  background-color: rgb(37, 64, 85);
  opacity: 0.6;
  width: max-content;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;
  border: 3px double #f1f1f1;
  border-radius: 50%;

}

.logo {
  width: 220px;
  padding-bottom: 30px;
}

.home {
  margin-left: 250px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.category {
  margin-left: 250px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

.authorCard {
  margin-left: 250px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
